#board {
  width: 500px;
  height: 500px;
}

.a {
  border: 1px solid black;
}

.tb {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.rl {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
